/* dark.css: 👉 light-on-dark */
:root {
  --maincolor: #FC7E0F;
  --bgColor: #202124;
  --fontColor: #fff;
  --hColor:#ddd;
  --bordercl:blue;
  --callouctcolor:dodgerblue;
  --hovercolor:#fc9841;
  --darkMaincolor: #FC7E0F;
  --codeColor:lightblue;
  --preColor:#272822;
  --littlefootBground:#1f2024;
  --littlefootButton:#36383f;
}