<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	{{- $title := ( .Title ) -}}
	{{- $siteTitle := ( .Site.Title ) -}}
	{{- if .IsHome -}}
	<title>{{ $siteTitle }} | Home </title>
	{{- else -}}
	<title>{{ $title }} - {{ $siteTitle }}</title>
	{{- end -}}

  <link rel="shortcut icon" href="https://cdn.lawgier.net/assets/favicon.ico" type="image/x-icon">
  <link rel="apple-touch-icon" href="https://cdn.lawgier.net/assets/apple-touch-icon.png" />
  <link rel="apple-touch-icon" sizes="57x57" href="https://cdn.lawgier.net/assets/apple-touch-icon-57x57.png" />
  <link rel="apple-touch-icon" sizes="72x72" href="https://cdn.lawgier.net/assets/apple-touch-icon-72x72.png" />
  <link rel="apple-touch-icon" sizes="76x76" href="https://cdn.lawgier.net/assets/apple-touch-icon-76x76.png" />
  <link rel="apple-touch-icon" sizes="114x114" href="https://cdn.lawgier.net/assets/apple-touch-icon-114x114.png" />
  <link rel="apple-touch-icon" sizes="120x120" href="https://cdn.lawgier.net/assets/apple-touch-icon-120x120.png" />
  <link rel="apple-touch-icon" sizes="144x144" href="https://cdn.lawgier.net/assets/apple-touch-icon-144x144.png" />
  <link rel="apple-touch-icon" sizes="152x152" href="https://cdn.lawgier.net/assets/apple-touch-icon-152x152.png" />

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta property="og:description" content="{{ .Params.description }}" />
	<meta name="twitter:description" content="{{ .Params.description }}" />
	<meta name="description" content="{{ $.Param "description" }}" />
	<meta name="description" content="{{ $.Params.description }}" />

	<meta property="og:title" content="{{ $title }} | {{ $siteTitle }}" />
	<meta name="twitter:title" content="{{ $title }} | {{ $siteTitle }}" />

	<meta property="og:image" content="{{ .Site.Params.og_image }}"/>
	<meta itemprop="name" content="{{ $title }} | {{ $siteTitle }}" />
	<meta name="application-name" content="{{ $title }} | {{ $siteTitle }}" />
	<meta property="og:site_name" content="{{ .Site.Params.sitename }}" />
	{{ with .OutputFormats.Get "rss" -}}
	{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}
	
	{{- template "_internal/opengraph.html" . -}}
	{{- template "_internal/twitter_cards.html" . -}}
	{{ if and (isset .Site.Params "social") (isset .Site.Params "feathericonscdn") (eq .Site.Params.featherIconsCDN true) -}}
		<script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
	{{- else if (isset .Site.Params "social") -}}
		<script src="{{ .Site.BaseURL }}js/feather.min.js"></script>
	{{ end }}
	<!-- <link href="https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet"> -->
	<link rel="stylesheet" type="text/css" media="screen" href="{{ .Site.BaseURL }}css/main.css" />
	{{- if or (eq .Site.Params.mode "auto") (eq .Site.Params.mode "dark") -}}
		<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}css/dark.css" {{ if eq .Site.Params.mode "auto" }}media="(prefers-color-scheme: dark)"{{ end }} />
	{{- end -}}
	{{- range .Site.Params.customJS }}
	{{- if or (hasPrefix . "http://") (hasPrefix . "https://") }}
	<script src="{{ . }}"></script>
	{{- else }}
	<script src="{{ $.Site.BaseURL }}{{ . }}"></script>
	{{- end }}
	{{- end }}
	
	
<!-- Littlefoot -->
    <link
      link rel="stylesheet"
      href="{{ .Site.BaseURL }}littlefoot/littlefoot.css"
    />

<!-- TarteAuCitron -->
    <script type="text/javascript" src="{{ .Site.BaseURL }}tarteaucitron/tarteaucitron.js"></script>
    <script type="text/javascript">
        tarteaucitron.init({
            "hashtag": "#tarteaucitron", /* Ouverture automatique du panel avec le hashtag */
            "highPrivacy": true, /* désactiver le consentement implicite (en naviguant) ? */
            "orientation": "bottom", /* le bandeau doit être en haut (top) ou en bas (bottom) ? */
            "adblocker": false, /* Afficher un message si un adblocker est détecté */
            "showAlertSmall": true, /* afficher le petit bandeau en bas à droite ? */
            "AcceptAllCta" : true, /* Show the accept all button when highPrivacy on */
            "cookieslist": true, /* Afficher la liste des cookies installés ? */
            "removeCredit": false, /* supprimer le lien vers la source ? */
            "handleBrowserDNTRequest": true, /* Deny everything if DNT is on */
            "cookieDomain": ".lawgier.net" /* Nom de domaine sur lequel sera posé le cookie pour les sous-domaines */
        });
    </script>

    <script type="text/javascript">
        /* tarteaucitron.user.typekitId = 'ukh6vgy';
        (tarteaucitron.job = tarteaucitron.job || []).push('typekit'); */
        (tarteaucitron.job = tarteaucitron.job || []).push('youtube');
        (tarteaucitron.job = tarteaucitron.job || []).push('vimeo');
    </script>
</head>
